@model IEnumerable<INSCmapaFerias.Areas.Identity.Data.Events>;

@{
    ViewData["Title"] = "Mapa Férias";
}


<link rel="stylesheet" href="~/css/calendar.css" asp-append-version="true" />

<div class="container">

    <div class="row">

        <h1 class="text-center">Mapa de férias <span id="currentYear"></span></h1>

        <hr />

        <div id='calendar'></div>

    </div>

    <div class="row">

        <h1 class="titleListaFerias">Lista de Férias</h1>

        <input class="form-control" type="text" id="searchEvents" onkeyup="searchBar()" placeholder="Procura as tuas férias..." title="Pesquisar eventos">
        <small class="text-primary">Procura com o teu nome!</small>

        <table class="table" id="tableEvents">

            <caption>Lista de férias</caption>
            @if (Model == null)
            {
                <thead id="listaFerias">

                    <tr class="trHeader">
                        <th scope="col">@Html.DisplayNameFor(model => model.Title)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.event_start)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.event_end)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.Total)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.Status)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.Options)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.Options_End)</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var item in Model)
                    {

                        <tr class="trBody">
                            <td>@Html.DisplayFor(modelItem => item.Title)</td>
                            <td>@Html.DisplayFor(modelItem => item.event_start)</td>
                            <td>@Html.DisplayFor(modelItem => item.event_end)</td>
                            <td>@Html.DisplayFor(modelItem => item.Total)</td>
                            <td>
                                @if (item.Status == "Aprovado")
                                {
                                    <span class="text-success">@Html.DisplayFor(modelItem => item.Status)</span>
                                }
                                @if (item.Status == "Rejeitado")
                                {
                                    <span class="text-danger">@Html.DisplayFor(modelItem => item.Status)</span>
                                }
                                @if (item.Status == "Enviado")
                                {
                                    <span class="text-primary">@Html.DisplayFor(modelItem => item.Status) (Pedido Pendente)</span>
                                }
                            </td>
                            <td>
                                @if (item.Status == "Rejeitado")
                                {
                                    @Html.DisplayFor(modelItem => item.Options)
                                }
                            </td>
                            <td>
                                @if (item.Status == "Rejeitado")
                                {
                                    @Html.DisplayFor(modelItem => item.Options_End)
                                }
                            </td>
                            <td>
                                @if (item.Status == "Rejeitado" && item.Email == User.Identity.Name)
                                {
                                    <a class="btn btn-primary btnDelete" asp-action="Editar_Ferias" asp-route-id="@item.event_id">Editar</a>
                                }
                            </td>
                    </tr>
                }
                </tbody>
            } else
            {
                <span>Nenhum funcionário tirou férias ainda.</span>
            }
        </table>
    </div>
</div>

@section Scripts {

    <script src="~/js/calendar.js"></script>
    <script src="~/js/geralfunctions.js"></script>

    <!-- FeriasSubmited-->
    @if (TempData["FeriasSubmited"] != null)
    {
        <script>
            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'O teu pedido foi enviado com sucesso',
                text: 'Agora espera para que um administrador aprove ou rejeito o teu pedido!',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
            });
        </script>
    } else if (TempData["PedidoEnviadoNovamente"] != null) {
        <script>
            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Pedido reenviado com sucesso',
                html: 'Aguarde uma resposta do <span class="text-danger">administrador</span> ',
                showConfirmButton: false,
                timer: 5000,
                timerProgressBar: true,
            })    
        </script>
    } else if(TempData["EventNullError"] != null)
    {
        <script>
            Swal.fire({
                position: 'top-end',
                icon: 'error',
                title: 'Erro',
                html: 'Não foi possível identificar estás férias, entre em contato com um <span class="text-danger">administrador</span>',
                showConfirmButton: false,
                timer: 5000,
                timerProgressBar: true,
            })    
        </script>
    }

}